<section class="dpdp_banner about_us career">
  <div class="dpdp_first similar_section section_text_white rounded_section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_content">
              <h2 translate>Explore Our Insights</h2>
              <p translate>
                Stay updated with the latest trends, expert tips, and inspiring
                stories to fuel your passion and knowledge
              </p>
              <div class="text-center text-lg-start">
                <a
                  class="comman_btn mt-4"
                  routerLink="/consent-management-tool"
                  translate
                  >Learn More</a
                >
              </div>
              <img
                src="assets/img2/vector_client_7.png"
                alt=""
                class="vector_client_7"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="position-relative">
            <img
              src="assets/img2/client_pic3.png"
              alt=""
              class="vector_client_8"
            />
            <div class="similar_img">
              <img
                src="assets/img2/blog_listing.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section team_community">
  <div class="container">
    <div class="row justify-content-center position-relative">
      <div class="col-lg-10">
        <div class="similar_content mb-5">
          <h2 class="text-center" translate>Blogs</h2>
        </div>
      </div>
    </div>
    <div class="blog_listing">
      <div class="item d-block d-md-flex align-items-center">
        <img src="assets/img2/blog_1.webp" alt="" class="img-fluid" />
        <div>
          <h3 class="title">
            What Is Grievance Redressal Mechanism Under The PDPL Act
          </h3>
          <p class="sub_title" translate>
            Find out how the PDPL Act, 2023’s Grievance Redressal Mechanism
            works. Learn how PDPL consultants can help in an effective grievance
            redressal process. India’s new privacy law grants individuals
            significant rights to safeguard their personal data. Among these
            rights, grievance redressal empowers individuals to lodge a
            complaint with a supervisory authority in the case. As the
            cornerstone of the Digital Personal Data Protection (PDPL) Act,
            2023, this right guarantees openness and accountability in data
            processing procedures.
          </p>
          <span class="posted_date d-block"
            ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
          >
          <a
            routerLink="/blog-details"
            class="btn_sm d-inline-block mt-4"
            href="javascritpt:;"
            translate
            >Read More <i class="bi bi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
      <div class="item d-block d-md-flex align-items-center">
        <img src="assets/img2/blog_2.webp" alt="" class="img-fluid" />
        <div>
          <h3 class="title" translate>
            What is Consent Under India’s Privacy Law PDPLA?
          </h3>
          <p class="sub_title" translate>
            Meta Description: Let’s explore the question, “What is consent under
            PDPLA?” Learn how consent is defined, its importance and its
            requirements under India’s data privacy law. With the enactment of
            India’s data privacy law and the many innovative ways personal data
            is now collected and processed, organisations will have to take
            strong measures to comply with the provisions of the Act; especially
            obtaining consent.
          </p>
          <span class="posted_date d-block"
            ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
          >
          <a
            routerLink="/blog-details"
            class="btn_sm d-inline-block mt-4"
            href="javascritpt:;"
            translate
            >Read More <i class="bi bi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
      <div class="item d-block d-md-flex align-items-center">
        <img src="assets/img2/blog_3.webp" alt="" class="img-fluid" />
        <div>
          <h3 class="title" translate>
            What Are The Different Types Of Consent?
          </h3>
          <p class="sub_title" translate>
            Explore 9 types of consent that ensure clear communication,
            transparency, and privacy in handling personal information
            effectively. As people share more of their personal information
            online, strong data protection has become essential. The Digital
            Personal Data Protection Act (PDPLA) of 2023 sets out clear rules
            for safeguarding personal data in India.
          </p>
          <span class="posted_date d-block"
            ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
          >
          <a
            routerLink="/blog-details"
            class="btn_sm d-inline-block mt-4"
            href="javascritpt:;"
            >Read More <i class="bi bi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
      <div class="item d-block d-md-flex align-items-center">
        <img src="assets/img2/blog_4.webp" alt="" class="img-fluid" />
        <div>
          <h3 class="title">Top 5 Recent Data Breaches in India (2024)</h3>
          <p class="sub_title">
            Learn about the top 5 recent data breaches in India, and how they’ll
            be impacted by the PDPLA enforcement. Data breaches have continued
            to be a reason for concern globally. Many recent data breaches have
            involved the theft of sensitive information, affecting companies and
            organisations across all sectors.
          </p>
          <span class="posted_date d-block"
            ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
          >
          <a
            routerLink="/blog-details"
            class="btn_sm d-inline-block mt-4"
            href="javascritpt:;"
            >Read More <i class="bi bi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
      <div class="item d-block d-md-flex align-items-center">
        <img src="assets/img2/blog_1.webp" alt="" class="img-fluid" />
        <div>
          <h3 class="title">
            What Is Grievance Redressal Mechanism Under The PDPL Act
          </h3>
          <p class="sub_title">
            Find out how the PDPL Act, 2023’s Grievance Redressal Mechanism
            works. Learn how PDPL consultants can help in an effective grievance
            redressal process. India’s new privacy law grants individuals
            significant rights to safeguard their personal data. Among these
            rights, grievance redressal empowers individuals to lodge a
            complaint with a supervisory authority in the case. As the
            cornerstone of the Digital Personal Data Protection (PDPL) Act,
            2023, this right guarantees openness and accountability in data
            processing procedures.
          </p>
          <span class="posted_date d-block"
            ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
          >
          <a
            routerLink="/blog-details"
            class="btn_sm d-inline-block mt-4"
            href="javascritpt:;"
            >Read More <i class="bi bi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
