<section class="services_banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 position-relative">
        <div class="servicesbanner_content">
          <h1 translate>Contract Review</h1>
          <p translate>
            Whether drafting new agreements or evaluating existing contracts,
            our specialised team ensures meticulous scrutiny to safeguard
            personal data and ensure compliance
          </p>
          <a class="comman_btn" routerLink="/contact" fragment="form" translate
            >Contact Us</a
          >
        </div>
      </div>
      <div class="col-xl-6 position-relative service_order">
        <img class="contract_reivew_1 img_anmate" src="assets/img/client_pic5.png" alt="" />
        <img class="contract_reivew_3 img_anmate" src="assets/img/contract_reivew_3.png" alt="" />
        <div class="servicesbanner_img">
          <img class="services_img" src="assets/img/conatract_reiewbanner.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services_similar_main comman_space overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="comman_heading text-center">
          <h2 translate>How It Works</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 contactreview_border">
        <div class="row services_similar similar_even">
          <div class="col-md-6">
            <div class="servicessimilar_img">
              <img src="assets/img/howitwork_1.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="servicessimilar_content">
              <div class="count_number">1</div>
              <h3 translate>Initial Assessment</h3>
              <p translate>
                Begin with a comprehensive assessment of your existing contracts
                or draft agreements to identify potential gaps in PDPL
                compliance
              </p>
            </div>
          </div>
        </div>
        <div class="row services_similar similar_odd">
          <div class="col-md-6">
            <div class="servicessimilar_content">
              <div class="count_number">2</div>
              <h3 translate>Legal Framework Alignment</h3>
              <p translate>
                Our legal experts analyze contracts to ensure alignment with
                PDPL principles and requirements, including lawful grounds for
                data processing and consent management.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="servicessimilar_img">
              <img src="assets/img/howitwork_2.png" alt="" />
            </div>
          </div>
        </div>
        <div class="row services_similar similar_even">
          <div class="col-md-6">
            <div class="servicessimilar_img">
              <img src="assets/img/howitwork_3.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="servicessimilar_content">
              <div class="count_number">3</div>
              <h3 translate>Risk Identification</h3>
              <p translate>
                Identify potential risks related to data protection and privacy
                within contractual agreements.
              </p>
            </div>
          </div>
        </div>
        <div class="row services_similar similar_odd">
          <div class="col-md-6">
            <div class="servicessimilar_content">
              <div class="count_number">4</div>
              <h3 translate>Detailed Compliance Report</h3>
              <p translate>
                Receive a detailed report highlighting areas of compliance
                strength and recommendations for enhancing PDPL alignment.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="servicessimilar_img">
              <img src="assets/img/howitwork_4.png" alt="" />
            </div>
          </div>
        </div>
        <div class="row services_similar similar_even">
          <div class="col-md-6">
            <div class="servicessimilar_img">
              <img src="assets/img/howitwork_5.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="servicessimilar_content">
              <div class="count_number">5</div>
              <h3 translate>Strategic Recommendations</h3>
              <p translate>
                Based on the assessment, receive strategic recommendations to
                optimize contract terms, mitigate risks, and strengthen personal
                data processing measures.
              </p>
            </div>
          </div>
        </div>
        <div class="row services_similar similar_odd">
          <div class="col-md-6">
            <div class="servicessimilar_content">
              <div class="count_number">6</div>
              <h3 translate>Implementation Support</h3>
              <p translate>
                Gain support in implementing recommended changes, updating
                contract clauses, and negotiating terms with stakeholders.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="servicessimilar_img">
              <img src="assets/img/howitwork_6.png" alt="" />
            </div>
          </div>
        </div>
        <div class="row services_similar similar_even">
          <div class="col-md-6">
            <div class="servicessimilar_img">
              <img src="assets/img/howitwork_7.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="servicessimilar_content">
              <div class="count_number">7</div>
              <h3 translate>Ongoing Compliance Support</h3>
              <p translate>
                Benefit from ongoing guidance to adapt to evolving PDPL
                regulations and maintain compliance across contractual
                engagements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ctasections comman_space pt-0">
  <div class="container">
    <div class="row justify-content-center position-relative">
      <img class="ctaclient_1 img_anmate" src="assets/img/ctaclient_1.png" alt="" />
      <img class="ctaclient_2 img_anmate" src="assets/img/client_pic3.png" alt="" />
      <div class="col-xl-10">
        <div class="ctamain" style="background-image: url('assets/img/cta.png')">
          <div>
            <h2 translate>Speak To Our Privacy Experts</h2>
            <p translate>
              Empower your organisation to build PDPL compliance, mitigate
              risks, and foster customer trust
            </p>
            <a
              translate
              class="comman_btn"
              routerLink="/contact"
              fragment="form"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>