<section class="dpdp_banner about_us career">
  <div class="dpdp_first similar_section section_text_white rounded_section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_content">
              <h2 translate>Contact Us</h2>
              <p translate>
                We'd love to hear from you! Whether you have a question, need
                support, or just want to share your thoughts, our team is here
                to help. Contact us for more information on how our team of
                privacy experts can assist your organisation with PDPL
                compliance
              </p>
              <div class="text-center text-lg-start">
                <a
                  class="comman_btn mt-4"
                  routerLink="/career"
                  fragment="form"
                  translate
                  >Join Our Team</a
                >
              </div>
              <img
                src="assets/img2/vector_client_7.png"
                alt=""
                class="vector_client_7"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_img">
              <img src="assets/img2/career.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="getintouch comman_space">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="comman_heading">
          <h2 translate>Get In Touch</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row getintouch_main">
          <div class="col-md-6 px-0">
            <div class="getintouch_img">
              <img src="assets/img2/getintouch.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 px-0">
            <div class="getintouch_form" #form>
              <app-contact-us-form></app-contact-us-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
