<section class="dpdp_banner about_us">
  <div class="dpdp_first similar_section section_text_white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="similar_content">
            <h2 class="mb-0" translate>About</h2>
            <h2 class="text-lg" translate>PDPL Consultants</h2>
            <p translate>
              We are a team of privacy experts specialising in assisting
              businesses in navigating and complying with intricate data privacy
              regulations.
            </p>
            <p translate>
              Our experience in implementing privacy policies in different
              geographies has enabled us to create customised solutions for
              businesses of all sizes. At PDPL Consultants, we believe in
              supporting our clients with all the tools and guidance they need
              to achieve and maintain compliance with data protection
              regulations.
            </p>
            <p translate>
              We don't just provide you with the tools; we help you understand
              and effectively use them, offering continuous support to ensure
              your compliance journey is smooth and successful.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="similar_img">
            <img src="assets/img2/team.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="compliance_project similar_section section_text_white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-order">
          <div class="similar_img">
            <img src="assets/img2/our_mission.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="similar_content">
            <h2 translate>Our Mission</h2>
            <p translate>
              While the explosive growth of data unlocks immense opportunities,
              it also introduces significant security, compliance, and privacy
              challenges. At PDPL Consultants, our mission is to empower
              businesses to process personal data, safely, and responsibly. We
              aim to simplify the compliance process, enabling our clients to
              focus on their core business activities while fostering customer
              trust through data transparency.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Our Approach</h2>
          <p translate>
            We understand that every business is unique, which is why we take a
            tailored approach to PDPL compliance. Leveraging our experience in
            implementing privacy policies in different geographies, we develop
            customised solutions that meet the specific needs and requirements
            for businesses of all sizes.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/our_approach.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our_team bg_primary">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-md-7 text-center">
        <div class="comman_heading white_heading mb-4">
          <h2 translate>Our Team</h2>
          <p translate>
            Our seasoned privacy experts at PDPL Consultants bring diverse
            experience in data protection. We help businesses navigate complex
            privacy regulations with tailored solutions and ongoing support,
            ensuring a smooth compliance journey.
          </p>
        </div>
      </div>
      <div class="col-xl-10">
        <div class="our_team_slider owl-carousel py-5">
          <div class="row align-items-center mb-1 mb-lg-5">
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_1.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_2.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_3.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_4.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mb-1 mb-lg-5">
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_1.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_2.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_3.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_4.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mb-1 mb-lg-5">
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_1.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_2.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_3.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_4.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mb-1 mb-lg-5">
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_1.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_2.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_3.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card">
                <img
                  src="assets/img2/team_member_4.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="text-center">
                  <p class="name">Noura Al-Saeed</p>
                  <span class="profile">Chief Privacy Officer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="discover_dpdp">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-lg-8 col-md-11 col-11 text-center">
        <div class="comman_heading">
          <h2 translate>Discover PDPL: Watch Our Journey</h2>
          <p translate>
            Discover PDPL's story and insights in our featured video. Learn how
            we empower businesses with effective data protection solutions and
            compliance strategies
          </p>
        </div>
      </div>
      <div class="col-lg-9 col-xl-9 text-center">
        <img src="assets/img2/client_pic5.png" class="vector-1" alt="" />
        <div class="video-frame position-relative d-inline-block">
          <img src="assets/img2/video.png" alt="" class="img-fluid" />
          <img src="assets/img2/play-icon.png" class="play-icon" alt="" />
        </div>
        <img src="assets/img2/vector-2.png" class="vector-2" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="leading_companies comman_space">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-md-8 text-center">
        <div class="comman_heading">
          <h2 translate>Get In Touch</h2>
          <p translate>
            Contact us today to learn more about how we can support your
            business in achieving and maintaining compliance with PDPL
            regulations.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row leading_main align-items-center">
          <div class="col-md-6 px-0">
            <div class="leading_img">
              <img src="assets/img2/profile_img.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-md-6 px-0">
            <div class="leading_content">
              <h3 translate>Secure Your Data with PDPL</h3>
              <p translate>
                Schedule a consultation with our expert team to discover how
                PDPL can elevate your data protection strategy. Learn how our
                tailored solutions ensure compliance and enhance security,
                enabling your business to thrive securely
              </p>
              <a
                class="comman_btn"
                translate
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                >Schedule a Demo</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
