<section class="dpdp_banner about_us career">
  <div class="dpdp_first similar_section section_text_white rounded_section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_content">
              <h2 translate>Breaking News and Latest Headlines</h2>
              <p translate>
                Stay Updated with the Latest Developments, In-Depth Analyses,
                and Expert Perspectives on Current Events Shaping Industries and
                Communities Worldwide
              </p>
              <div class="text-center text-lg-start">
                <a
                  class="comman_btn mt-4"
                  routerLink="/consent-management-tool"
                  translate
                  >Learn More</a
                >
              </div>
              <img
                src="assets/img2/vector_client_7.png"
                alt=""
                class="vector_client_7"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="position-relative">
            <img
              src="assets/img2/client_pic5.png"
              alt=""
              class="vector_client_8"
            />
            <div class="similar_img">
              <img src="assets/img2/news.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section team_community">
  <div class="container">
    <div class="row justify-content-center position-relative">
      <div class="col-lg-10">
        <div class="similar_content mb-5">
          <h2 class="text-center">News</h2>
        </div>
      </div>
    </div>
    <div class="blog_listing case_studies">
      <div class="row">
        <div class="col-lg-4">
          <div class="item">
            <img src="assets/img2/news_1.png" alt="" class="img-fluid" />
            <div>
              <h3 class="title">
                Lorem Ipsum is simply dummy text of the printing
              </h3>
              <p class="sub_title">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley
              </p>
              <div class="news_info">
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
                >
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-star"></i> Comments</span
                >
                <span class="posted_date d-block d-sm-inline-block"
                  ><i class="bi bi-heart"></i> Likes</span
                >
              </div>
              <!-- <a class="btn_sm d-inline-block w-100 text-center mt-4" href="javascritpt:;"><i
                            class="bi bi-cloud-download"></i>
                         Download PDF
                      </a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <img src="assets/img2/news_2.png" alt="" class="img-fluid" />
            <div>
              <h3 class="title">
                Lorem Ipsum is simply dummy text of the printing
              </h3>
              <p class="sub_title">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley
              </p>
              <div class="news_info">
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
                >
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-star"></i> Comments</span
                >
                <span class="posted_date d-block d-sm-inline-block"
                  ><i class="bi bi-heart"></i> Likes</span
                >
              </div>
              <!-- <a class="btn_sm d-inline-block w-100 text-center mt-4" href="javascritpt:;"><i
                            class="bi bi-cloud-download"></i>
                         Download PDF
                      </a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <img src="assets/img2/news_1.png" alt="" class="img-fluid" />
            <div>
              <h3 class="title">
                Lorem Ipsum is simply dummy text of the printing
              </h3>
              <p class="sub_title">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley
              </p>
              <div class="news_info">
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
                >
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-star"></i> Comments</span
                >
                <span class="posted_date d-block d-sm-inline-block"
                  ><i class="bi bi-heart"></i> Likes</span
                >
              </div>
              <!-- <a class="btn_sm d-inline-block w-100 text-center mt-4" href="javascritpt:;"><i
                            class="bi bi-cloud-download"></i>
                         Download PDF
                      </a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <img src="assets/img2/news_2.png" alt="" class="img-fluid" />
            <div>
              <h3 class="title">
                Lorem Ipsum is simply dummy text of the printing
              </h3>
              <p class="sub_title">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley
              </p>
              <div class="news_info">
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
                >
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-star"></i> Comments</span
                >
                <span class="posted_date d-block d-sm-inline-block"
                  ><i class="bi bi-heart"></i> Likes</span
                >
              </div>
              <!-- <a class="btn_sm d-inline-block w-100 text-center mt-4" href="javascritpt:;"><i
                            class="bi bi-cloud-download"></i>
                         Download PDF
                      </a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <img src="assets/img2/news_1.png" alt="" class="img-fluid" />
            <div>
              <h3 class="title">
                Lorem Ipsum is simply dummy text of the printing
              </h3>
              <p class="sub_title">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley
              </p>
              <div class="news_info">
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
                >
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-star"></i> Comments</span
                >
                <span class="posted_date d-block d-sm-inline-block"
                  ><i class="bi bi-heart"></i> Likes</span
                >
              </div>
              <!-- <a class="btn_sm d-inline-block w-100 text-center mt-4" href="javascritpt:;"><i
                            class="bi bi-cloud-download"></i>
                         Download PDF
                      </a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <img src="assets/img2/news_2.png" alt="" class="img-fluid" />
            <div>
              <h3 class="title">
                Lorem Ipsum is simply dummy text of the printing
              </h3>
              <p class="sub_title">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley
              </p>
              <div class="news_info">
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-calendar-check"></i> MAY 31, 2024</span
                >
                <span class="posted_date d-block d-sm-inline-block me-1"
                  ><i class="bi bi-star"></i> Comments</span
                >
                <span class="posted_date d-block d-sm-inline-block"
                  ><i class="bi bi-heart"></i> Likes</span
                >
              </div>
              <!-- <a class="btn_sm d-inline-block w-100 text-center mt-4" href="javascritpt:;"><i
                            class="bi bi-cloud-download"></i>
                         Download PDF
                      </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
