/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
    url('../fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
    url('../fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
    url('../fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}




:root {
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body,
html {
  overflow-x: hidden;
  font-family: 'Montserrat';
}

a {
  transition: 0.3s ease-in-out;
  font-family: 'Montserrat';
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

p {
  font-weight: 400;
}

.container {
  max-width: 1440px;
}

.h100 {
  height: 100vh;
}

.header_main {
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 99;
  padding-right: 120px;
  transition: 0.5s all;
}

.header-fixed {
  position: fixed;
  backdrop-filter: blur(91px);
  top: 0 !important;
  background-color: #071d478f;
  box-shadow: var(--bs-box-shadow) !important;
  /* background: linear-gradient(103deg, #071D47 30.79%, #1a7997 61.56%); */
  background-color: #071d47;
}

.dpdp_banner {
  position: relative;
  overflow: hidden;
}

.dpdp_first {
  background: linear-gradient(180deg, #071D47 24.79%, #0E3D63 41.98%, #1A7997 61.56%, #0E3F64 73.36%, #071D47 94.5%);
  padding: 180px 0 80px;
}

.dpdpbanner_content h1 {
  font-family: Montserrat;
  font-size: 62px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  color: #fff;
  margin-bottom: 28px;
}

.dpdpbanner_content h1 span {
  color: #48CAE4;
}

.dpdpbanner_content p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
  max-width: 980px;
  margin: 0 auto 60px;
}

.banner_btn {
  height: 66px;
  padding: 16px 60px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0755FC;
  border: 1px solid #0755FC;
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
}

.banner_btn:hover {
  background-color: #1a7997;
  border: 1px solid #1a7997;
}

.logo img {
  max-width: 40%;
  margin-left: 30px;

}

.header_menus ul li {
  margin: 0 40px;
}

.header_menus ul li .menulink {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  color: #fff;
  position: relative;
  padding: 0;
}

.header_menus ul li .menulink:hover {
  color: #48CAE4;
}

.header_menus ul li .menulink::before {
  position: absolute;
  content: '';
  top: 0;
  height: 50px;
  width: 100%;
  background-color: transparent;
}

.header_menus ul li>a::after {
  position: absolute;
  content: '';
  top: 56%;
  right: -24px;
  background-image: url(../img/arrow.png);
  height: 9px;
  width: 16px;
  transform: translateY(-50%);
  filter: brightness(50.5);
  transition: 0.3s ease-in-out;
}

.header_menus ul li .menulink:hover::after {
  background-image: url(../img/hoverarrow.png);
  filter: unset;
}

.demo_btn {
  background: #0755FC;
  border: 1px solid #0755FC;
  color: #fff;
  height: 49px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  margin-right: 30px;
  padding: 0 25px;
  cursor: pointer;
}

.demo_btn:hover {
  background-color: #1a7997;
  border: 1px solid #1a7997;
}

.language .btn {
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.language .dropdown-menu {
  right: -10px !important;
  left: auto !important;
  min-width: 116px;
  text-align: center;
  height: 60px;
  border: 0;
  border-radius: 4px;
  padding: 15px 0;
  top: 15px !important;
}

.dropdown_inner a {
  color: #000;
  display: block;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  margin-bottom: 15px;
}

.dropdown_inner a:hover {
  color: #48CAE4;
  font-weight: 600;
}

.dropdown_main {
  position: relative;
}

.dropdown_inner {
  position: absolute;
  top: 30px;
  background-color: #fff;
  width: 390px;
  padding: 24px 20px 24px 20px;
  border-radius: 4px;
  left: 0;
  opacity: 0;
  display: none;
  transition: 0.3s ease-in-out;
}

.dropdown_main:hover .dropdown_inner {
  display: block;
  opacity: 1;
}

.language .dropdown-menu img {
  max-width: 51px;
  margin-right: 10px;
}

.language .dropdown-menu a {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
  color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language .btn span {
  margin: 0 10px;
}

.dpdpbanner_content .banner_img {
  max-width: 65%;
  display: block;
  margin: 70px auto 0;
}

.dpdp_banner::after {
  position: absolute;
  content: '';
  left: 0;
  top: 630px;
  background-image: url(../img/lines_left.png);
  height: 748px;
  width: 100%;
  background-repeat: no-repeat;
}

.dpdp_banner::before {
  position: absolute;
  content: '';
  left: auto;
  right: 0;
  top: 440px;
  background-image: url(../img/line_right.png);
  height: 1116px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.dpdp_banner .container {
  position: relative;
  z-index: 1;
}

.dpdp_img2 {
  width: 110px;
  position: absolute;
  top: -50px;
  left: -40px;
}

.dpdp_img4 {
  position: absolute;
  top: -10px;
  right: -50px;
  width: 100px;
}

.dpdp_img1 {
  position: absolute;
  left: -160px;
  top: 280px;
  width: 140px;
}

.dpdp_img3 {
  width: 120px;
  position: absolute;
  top: 320px;
  right: 0;
}

.dpdp_img5 {
  position: absolute;
  left: -50px;
  bottom: 310px;
  width: 120px;
}

.Compliance_box {
  margin-bottom: 30px;
}

.Compliance_top h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-align: center;
}

.slider-nav-box h3 {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
  margin: 0 0 4px;
}

.slider-nav-box p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  margin: 0;
  color: #fff;
}

.slider-nav-box {
  text-align: center;
  position: relative;
  margin: 30px 0 70px;
  opacity: 0.3;
  padding: 20px 20px;
}

.slider-nav .slick-track .slick-slide:nth-child(odd).slider-nav-box {
  border-top: 1px solid #ffffff87;
  border-left: 1px solid #ffffff87;
}

.slider-nav .slick-track .slick-slide:nth-child(even).slider-nav-box {
  border-bottom: 1px solid #ffffff87;
  border-left: 1px solid #ffffff87;
}

.slider-for-box img {
  max-width: 100%;
  margin: 0 auto;
}

.slider-for-box {
  transform: scale(0.8);
  transition: 0.3s all;
}

.slick-slide.slick-current.slick-active.slick-center.slider-for-box {
  transform: scale(1);
}

.slick-current.slider-nav-box {
  opacity: 1;
}

.compliance_project {
  padding: 0 0 100px;
  background: #071D47;
  position: relative;
  z-index: 3;
}

.compliance_head h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  margin-bottom: 0;
  color: #DCE1ED7D;
  transition: 0.3s ease-out;
}

.compliance_head p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  margin: 0;
  color: #DCE1ED7D;
  transition: 0.3s ease-out;
}

.Compliance_box:hover .compliance_head p,
.Compliance_box:hover .compliance_head h3,
.Compliance_box.active .compliance_head p,
.Compliance_box.active .compliance_head h3 {
  color: #fff;
}

.compliance_icon {
  display: flex;
  width: 80px;
  justify-content: center;
  text-align: center;
  height: 58px;
  align-items: center;
}

.compliance_icon img {
  width: 40px;
  height: auto;
  transition: 0.3s ease-out;
  transform: scale(0);
}

.Compliance_box:hover .compliance_icon img,
.Compliance_box.active .compliance_icon img {
  transform: scale(1);
}

.Compliance_img img {
  max-width: 100%;
}

.similar_content h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #000;
  margin-bottom: 25px;
}

.similar_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.similar_img img {
  max-width: 450px;
  display: block;
  margin: auto;
}

.similar_section {
  padding: 60px 0;
}

.easy_steps {
  border-radius: 32px;
  position: relative;
}

.easy_steps::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/easystep.png);
  height: 100%;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
}

.easy_steps .container {
  position: relative;
  z-index: 2;
}

.similar_content {
  padding: 0px 20px;
}

.footer_main {
  background: #071D47;
  padding: 100px 0 0;
  border-radius: 32px 32px 0px 0px;
}

.footer_logo img {
  max-width: 30%;
}

.about_footer p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: #fff;
  margin: 20px 0 40px;
}

.social_media a {
  display: inline-block;
  margin-right: 10px;
}

.footer_lins h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: #fff;
  min-height: 50px;
}

.footer_lins ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_lins ul li {
  margin-bottom: 15px;
}

.footer_lins ul li a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #fff;
  display: block;
}

.footer_lins ul li a:hover {
  transform: translateY(-5px);
}

.social_media a:hover {
  transform: translateY(-5px);
}

.copyright p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.copyright {
  padding: 30px 10px;
  border-top: 1px solid #31518E;
  margin-top: 140px;
}

.comman_heading {
  margin-bottom: 50px;
}

.comman_heading h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  margin-bottom: 15px;
}

.comman_heading p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
}

.white_heading h2 {
  color: #fff;
}

.white_heading p {
  color: #fff;
}

.faq_box {
  border-bottom: 1px solid #334D7E;
}

.faq_box.active .faq_data {
  display: block;
}

.faq_data {
  display: none;
  padding: 0 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.faq_box_head {
  padding: 20px 0;
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: -0.3199999928474426px;
  color: #FFFFFF;
  position: relative;
}

.faq_main {
  max-width: 1200px;
  margin: 0 auto;
  background: #071D47;
  border-radius: 24px;
  padding: 16px 32px 16px 32px;
}

.faq_box_head::after {
  content: "";
  color: #195fff;
  position: absolute;
  right: 0;
  background-image: url(../img/add-line.svg);
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s ease-out;
}

.faq_box.active .faq_box_head::after {
  background-image: url(../img/subtract-line.svg);
}

.comman_space {
  padding: 80px 0;
}

.faq_main .faq_box:last-child {
  border: 0;
}

.bg_primary {
  background: #071D47 !important;
}

.getintouch_main {
  background: #1A82BC;
  border: 4px solid #1A82BC;
  border-radius: 24px;
  margin: 0 auto;
  max-width: 1320px;
}

.getintouch_form {
  background-color: #fff;
  border-radius: 23px;
  padding: 40px 30px;
}

.getintouch_form .form-group .form-control {
  background: #E6E6E6 !important;
  height: 48px;
  border-radius: 10px;
  padding: 10px 16px;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.38px;
  box-shadow: unset !important;
  outline: 0;
}

.getintouch_img img {
  max-width: 76%;
}

.getintouch_img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.getintouch {
  border-radius: 32px;
}

.getintouch_form .submit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background: rgb(7, 85, 252);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.getintouch_form .submit_btn:hover {
  background-color: #1a7997;
  border: 1px solid #1a7997;
}

.leading_main {
  border-radius: 24px;
  background: #071D47;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1320px;
  position: relative;
}

.leading_main::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/leadingbg.png);
  height: 100%;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
}

.leading_img {
  position: relative;
  z-index: 1;
}

.leading_img img {
  max-width: 100%;
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.leading_content h3 {
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  color: #fff;
  margin-bottom: 20px;
}

.leading_content p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  color: #D6D6D6;
  margin-bottom: 30px;
}

.leading_content {
  padding: 40px 60px;
  position: relative;
  z-index: 1;
}

.comman_btn {
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0755FC;
  border: 1px solid #0755FC;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #FFFFFF;
  padding: 16px 32px 16px 32px;
  transition: all 0.3s ease-out;
}

.comman_btn:hover {
  background-color: #1a7997;
  border: 1px solid #1a7997;
}

.comman_btn.apply_now {
  height: auto;
  font-size: 16px;
  line-height: normal;
  padding: 10px 16px 10px 16px;
}

.leading_client {
  position: absolute;
  top: 50px;
  left: 100px;
  width: auto;
  max-width: 170px;
}

.left_img img {
  max-width: 100%;
}

.right_img img {
  max-width: 100%;
}

.focusmatters_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -70px 0 -20px;
}

.focusmatters_imgs img {
  max-width: 100%;
  width: 100%;
}

.threestep strong {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
}

.threestep span {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 35px;
}

.easysteps_box {
  border: 4px solid #48CAE4;
  border-radius: 16px;
  padding: 20px 20px;
  transition: 0.3s ease-in-out;
  position: relative;
  min-height: 390px;
  text-align: center;
}

.easysteps_box::after {
  position: absolute;
  content: '';
  top: -117px;
  left: 54%;
  height: 4px;
  width: 105%;
  background: #48CAE4;
  z-index: 0;
}

.easysteps_box img {
  max-width: 100%;
  max-height: 162px;
  margin: 0 auto;
}

.easysteps_box h3 {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin: 15px 0 15px;
  transition: 0.3s ease-in-out;
}

.easysteps_count {
  width: 62px;
  height: 62px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #48CAE4;
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  text-align: left;
  margin: 0 auto 80px;
  position: relative;
  z-index: 2;
}

.easysteps_main {
  margin-top: 40px;
}

.easysteps_box p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  color: #fff;
  transition: 0.3s ease-in-out;
  margin-bottom: 0;
}

.easysteps_box:hover {
  background-color: #fff;
  border: 4px solid #fff;
}

.easysteps_box:hover h3,
.easysteps_box:hover p {
  color: #000;
}

.easysteps_main .col-lg-4:last-child .easysteps_box::after {
  display: none;
}

.clientsslider_innner {
  background: #FFFFFF;
  border-radius: 24px;
  padding: 70px 50px 30px;
  display: flex;
}

.clientmain {
  display: flex;
  align-items: center;
}

.quote {
  color: #000000;
  font-size: 100px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin-right: 12px;
}

.clientsslider_right p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  margin-bottom: 30px;
}

.clientmain_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 20px;
  height: 100px;
  width: 100px;
}

.clientmain_pic img {
  max-width: 100%;
}

.clientmain_top h3 {
  color: #0C0C0C;
  font-size: 20px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
}

.clientmain_top span {
  font-size: 17px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  color: #515151;
}

.clientsslider_bg {
  background: #48CAE4;
}

.clientsslider .owl-dots .owl-dot {
  background: #D9D9D95C !important;
  width: 83px;
  height: 8px;
  border-radius: 10px;
  margin: 0 7px;
  transition: 0.3s ease;
}

.clientsslider .owl-dots {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.clientsslider .owl-dot.active {
  background: #48CAE4 !important;
}

.clients_outter::after {
  position: absolute;
  content: '';
  top: -310px;
  left: auto;
  right: -370px;
  background-image: url(../img/testimonial_top.png);
  height: 100%;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.clients_outter::before {
  position: absolute;
  content: '';
  bottom: -250px;
  left: -380px;
  right: auto;
  background-image: url(../img/testimonial_bottom.png);
  height: 100%;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.clientslide_1 {
  position: absolute;
  left: -240px;
  top: -100px;
  max-width: 100%;
}

.whyus_img img {
  max-width: 100%;
}

.clientslide_2 {
  position: absolute;
  bottom: 100px;
  right: -270px;
}

.whyus_content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
  margin-bottom: 10px;
}

.whyus_content h4 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  margin-bottom: 30px;
}

.whyus_content p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 28.8px;
}

.whyus_content {
  padding-left: 50px;
}

.whyus_slider .owl-nav .owl-prev {
  background-image: url(../img/arrowleft_color.png) !important;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  background-size: cover !important;
  background-position: center !important;
  text-indent: -99999999999999999px;
}

.whyus_slider .owl-nav .owl-next {
  background-image: url(../img/arrowlright_color.png) !important;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  background-size: cover !important;
  background-position: center !important;
  text-indent: -99999999999999999px;
}

.whyus_slider .owl-nav {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.whyus_client {
  position: absolute;
  top: -140px;
  left: -100px;
}

.meetingocal_img {
  max-width: 100%;
}

.meetingocal_content h3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
  color: #fff;
  margin-bottom: 30px;
}

.meetingocal_content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #fff;
}

.meetingocal_slider .owl-dots .owl-dot {
  background: #D9D9D95C !important;
  width: 83px;
  height: 8px;
  border-radius: 10px;
  margin: 0 7px;
  transition: 0.3s ease;
}

.meetingocal_slider .owl-dots {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.meetingocal_slider .owl-dot.active {
  background: #48CAE4 !important;
}

.meeting_local {
  border-radius: 32px;
}

.meetingocal_slider .owl-nav .owl-prev {
  background-image: url(../img/white_left.png) !important;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  background-size: cover !important;
  background-position: center !important;
  text-indent: -99999999999999999px;
}

.meetingocal_slider .owl-nav .owl-next {
  background-image: url(../img/white_right.png) !important;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  background-size: cover !important;
  background-position: center !important;
  text-indent: -99999999999999999px;
}

.meetingocal_slider .owl-nav {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}

.meetingocal_slider::after {
  position: absolute;
  content: '';
  top: -190px;
  left: 140px;
  right: 0;
  background-image: url(../img/meeting_bg.png);
  height: 100%;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.meetingocal_box {
  position: relative;
  z-index: 3;
}

.effortlessly_manage {
  background-color: #071D47;
  overflow: hidden;
  margin-bottom: -75px;
}

.effortlessly_content h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-align: left;
  color: #fff;
  margin-bottom: 30px;
}

.effortlessly_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #fff;
  margin-bottom: 30px;
}

.circle_1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 850px;
  width: 850px;
  z-index: 1;
}

.circle_1::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(241.52deg, rgba(78, 94, 124, 0) 48.34%, #8EABE2 84.68%);
  border-radius: 50%;
}

.mix::after {
  position: absolute;
  content: '';
  height: 99.6%;
  width: 99.6%;
  background: #071D47;
  border-radius: 50%;
}

.circle_2 {
  height: 650px;
  width: 650px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.circle_2::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.29) 0%, rgba(255, 255, 255, 0) 78.66%);
  border-radius: 50%;
}

.circle_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  position: relative;
  width: 90px;
  animation: wa-out .3s
}

.circle_icon:before,
.circle_icon:after {
  content: '';
  display: inline-block;
  position: absolute;
  border: 1px solid #0755FC;
  left: -9px;
  right: 0;
  top: -5px;
  border-radius: 100px;
  animation: animate 1.5s linear infinite;
  opacity: 0;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  z-index: -1;
}

.circle_icon:after {
  animation-delay: .5s;
}

@keyframes animate {
  0% {
    transform: scale(.5);
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    transform: scale(1.2);
    opacity: 0
  }
}

@keyframes wa-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg)
  }

  to {
    opacity: 0;
    transform: rotateZ(180deg)
  }
}

@keyframes wa-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg)
  }

  to {
    opacity: 1;
    transform: rotateZ(0deg)
  }
}

.circle_3 {
  height: 450px;
  width: 450px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.circle_3::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.29) 0%, rgba(255, 255, 255, 0.0319) 100%);
  border-radius: 50%;
}

.circle_logo img {
  max-width: 100%;
}

.circle_logo {
  position: relative;
  z-index: 5;
}

.design_mix {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 6;
}

.design_mix h3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.2px;
  text-align: left;
  color: #fff;
  width: 70%;
  padding: 0 20px 0 12px;
  margin: 0;
}

.circle_icon img {
  max-width: 100%;
}

.circle1_inner {
  top: 122px;
  left: 48px;
}

.circle2_inner {
  position: absolute;
  top: -44px;
  right: 140px;
}

.circle2inner1 {
  position: absolute;
  bottom: 22px;
  left: 90px;
}

.circle3_inner {
  position: absolute;
  bottom: 20px;
  right: -115px;
}

.circle3inner2 {
  left: -264px;
}

.circle3inner2 h3 {
  order: -1;
  text-align: right;
}

.circle3inner1 {
  right: -220px;
  top: 40px;
}

.mobilemenus {
  display: none;
}

.Compliance_slider .owl-dots .owl-dot {
  background: #D9D9D95C !important;
  width: 83px;
  height: 8px;
  border-radius: 10px;
  margin: 0 7px;
  transition: 0.3s ease;
}

.Compliance_slider .owl-dots {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.Compliance_slider .owl-dot.active {
  background: #48CAE4 !important;
}

.img_anmate {
  animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1) rotate(-10deg);
  }

  100% {
    transform: scale(1, 1);
  }
}

.slider-for .slick-prev {
  background-image: url(../img/white_left.png) !important;
  height: 50px;
  width: 50px;
  background-size: cover !important;
  background-position: center !important;
  text-indent: -99999999999999999px;
  background-color: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  z-index: 6;
  left: 259px;
}

.slider-for .slick-next {
  background-image: url(../img/white_right.png) !important;
  height: 50px;
  width: 50px;
  background-size: cover !important;
  background-position: center !important;
  text-indent: -99999999999999999px;
  background-color: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  z-index: 6;
  left: auto;
  right: 259px;
}

.ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis
}

.services_banner {
  background: linear-gradient(180deg, #071D47 24.79%, #0E3D63 41.98%, #1A7997 61.56%, #0E3F64 73.36%, #071D47 94.5%);
  position: relative;
  overflow: hidden;
  padding: 160px 0 120px;
  border-radius: 0px 0px 32px 32px;
}

.servicesbanner_content h1 {
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
}

.servicesbanner_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  margin-bottom: 35px;
}

.services_img {
  max-width: 450px;
  display: block;
  margin: auto;
}

.servicesbanner_img {
  text-align: center;
}

.servicesbanner_content .comman_btn {
  padding: 16px 62px;
}

.services_banner::after {
  position: absolute;
  content: '';
  left: 0;
  top: 200px;
  background-image: url(../img/services_lines1.png);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
}

.services_banner::before {
  position: absolute;
  content: '';
  left: auto;
  right: 0;
  top: auto;
  bottom: 58px;
  background-image: url(../img/services_lines2.png);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: top right;
}

.services_banner .container {
  position: relative;
  z-index: 1;
}

.services_similar_main .comman_heading {
  margin-bottom: 50px;
}

.services_similar {
  align-items: center;
  margin-bottom: 80px;
  position: relative;
}

.servicessimilar_img img {
  max-width: 450px;
  position: relative;
  z-index: 1;
}

.servicessimilar_img {
  text-align: center;
}

.servicessimilar_content h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 25px;
}

.servicessimilar_content p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 0;
}

.similar_even .servicessimilar_content {
  padding-left: 80px;
}

.similar_odd .servicessimilar_content {
  padding-right: 80px;
}

.readiness_3 {
  position: absolute;
  right: -30px;
  top: 0;
  max-width: 86px;
}

.readiness_2 {
  position: absolute;
  top: -120px;
  max-width: 170px;
  left: -80px;
}

.readiness_1 {
  position: absolute;
  bottom: -60px;
  max-width: 125px;
  left: -80px;
}

.ctamain::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ctamain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  overflow: hidden;
}

.ctamain>div {
  position: relative;
  z-index: 1;
}

.ctamain h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  color: #fff;
  margin-bottom: 20px;
}

.ctamain p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  margin: 0 auto 40px;
  max-width: 760px;
}

.ctamain .comman_btn {
  padding: 16px 70px;
}

.services_similar_main .container .row:last-child {
  margin-bottom: 40px;
}

.ctaclient_2 {
  position: absolute;
  width: 100%;
  max-width: 135px;
  left: -20px;
  margin: 0;
  top: -64px;
}

.ctaclient_1 {
  position: absolute;
  right: -80px;
  max-width: 177px;
  bottom: 140px;
}

.compliance_2 {
  position: absolute;
  left: -70px;
  bottom: -150px;
  max-width: 125px;
}

.compliance_1 {
  position: absolute;
  left: -70px;
  top: -20px;
  max-width: 120px;
}

.servicessimilar_content strong {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 14px;
}

.servicessimilar_content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.servicessimilar_content ul li {
  position: relative;
  padding-left: 34px;
  margin-bottom: 0;
}

.servicessimilar_content ul li::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  background-image: url(../img/tick.png);
  height: 20px;
  width: 17px;
  background-repeat: no-repeat;
}

.gapanlyst_2 {
  position: absolute;
  bottom: -30px;
  max-width: 126px;
  right: 10px;
}

.gapanlyst_1 {
  position: absolute;
  top: -120px;
  left: -100px;
  max-width: 170px;
}

.Benefits_analysis {
  border-radius: 32px;
}

.Benefits_img {
  height: 180px;
  width: 180px;
  margin: 0px auto 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.Benefits_img img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.Benefits_boxx p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.Benefits_boxx h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.contract_reivew_2 {
  max-width: 150px;
  position: absolute;
  top: -197px;
  left: -40px;
}

.contract_reivew_1 {
  position: absolute;
  top: -20px;
  max-width: 135px;
  left: -60px;
}

.contract_reivew_3 {
  position: absolute;
  bottom: -40px;
  left: -270px;
  max-width: 160px;
}

.count_number {
  margin-bottom: 25px;
  height: 62px;
  width: 62px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  background: rgba(7, 29, 71, 1);
}


.contactreview_border .services_similar::after {
  position: absolute;
  content: '';
  background-image: url(../img/dotsline1.png);
  bottom: -156px;
  left: 0;
  right: 0;
  background-position: bottom;
  height: 186px;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 0;
  background-size: 830px;
}

.contactreview_border .services_similar:nth-child(odd)::before {
  display: none;
}

.contactreview_border .services_similar:nth-child(even)::after {
  display: none;
}

.contactreview_border .services_similar::before {
  position: absolute;
  content: '';
  background-image: url(../img/dotsline2.png);
  bottom: -156px;
  left: 0;
  right: 0;
  background-position: bottom;
  height: 186px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 760px;
  z-index: 0;
}

.contactreview_border .services_similar:nth-child(2)::before {
  bottom: -186px;
}

.contactreview_border .services_similar:nth-child(3)::after {
  bottom: -156px;
}

.contactreview_border .services_similar:nth-child(4)::before {
  bottom: -186px;
}

.contactreview_border .services_similar:nth-child(5)::after {
  bottom: -166px;
}

.contactreview_border .services_similar:nth-child(6)::before {
  bottom: -186px;
}

.contactreview_border .services_similar:last-child:after {
  display: none;
}

.dpdp_first.similar_section {
  padding: 160px 0 120px;
}

.similar_section.section_text_white .similar_content h2 {
  color: #fff;
}

.similar_section.section_text_white .similar_content h2.text-lg {
  font-size: 48px;
}

.similar_section.section_text_white .similar_content p {
  color: #fff;
  line-height: 26px;
}

.compliance_project.similar_section {
  padding: 0 0 80px;
  border-radius: 0 0 32px 32px;
}

.dpdp_banner.about_us::before {
  position: absolute;
  content: '';
  left: auto;
  right: 0;
  top: 550px;
  background-image: url(../img2/about_lines_right.png);
  height: 760px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.dpdp_banner.about_us::after {
  position: absolute;
  content: '';
  left: 0;
  top: 170px;
  background-image: url(../img2/about_lines_left.png);
  height: 748px;
  width: 100%;
  background-repeat: no-repeat;
}

.our_team {
  border-radius: 32px;
  padding: 110px 30px;
}

.our_team .card {
  border-radius: 12px;
  padding: 8px 8px 24px 8px;
}

.our_team .card img {
  margin-bottom: 16px;
}

.our_team .card .name {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #000;
}

.our_team .card .profile {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.our_team_slider .owl-dots {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.our_team_slider .owl-dots .owl-dot {
  background: #D9D9D95C !important;
  width: 83px;
  height: 8px;
  border-radius: 10px;
  margin: 0 7px;
  transition: 0.3s ease;
}

.our_team_slider .owl-dot.active {
  background: #48CAE4 !important;
}

.discover_dpdp {
  padding: 100px 30px 0;
}

.video-frame::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.video-frame .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.vector-1 {
  position: absolute;
  left: -30px;
  top: 80px;
}

.vector-2 {
  position: absolute;
  right: -30px;
  bottom: 110px;
}

.circle_vector_1 {
  position: absolute;
  top: 0px;
  right: 0;
  width: 120px;
}

.circle_vector_2 {
  position: absolute;
  bottom: -30px;
  left: -100px;
  width: 140px;
}

.rounded_section {
  border-radius: 0 0 32px 32px;
}

.how_it_works {
  padding: 80px 30px;
}

.border_box {
  border: 4px solid #08234C;
  border-radius: 16px;
  padding: 20px 20px;
  transition: 0.3s ease-in-out;
  position: relative;
  min-height: 420px;
}

.border_box:hover {
  background: linear-gradient(150.45deg, #071D47 43.45%, #48CAE4 113.59%);
  border: transparent;
}

.border_box h3 {
  color: #202020;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin: 16px 0 16px;
  transition: 0.3s ease-in-out;
}

.border_box:hover h3 {
  color: #fff;
}

.border_box p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #202020;
  transition: 0.3s ease-in-out;
  margin-bottom: 0;
}

.border_box:hover p {
  color: #fff;
}

.full_rounded {
  border-radius: 32px;
}

.section_padding {
  padding: 140px 30px;
}

.line_height_32 {
  line-height: 32px !important;
}

.key_features .item img {
  margin: 0 auto 24px;
}

.key_features .item h3 {
  font-size: 24px;
  color: #0D0D0D;
  margin-bottom: 16px;
  font-weight: 700;
}

.key_features .item p {
  font-size: 16px;
  color: #0D0D0D;
  font-weight: 500;
}

.vector_circle_2 {
  position: absolute;
  top: -50px;
  left: -60px;
}

.vector_client_1 {
  position: absolute;
  bottom: -70px;
  left: -180px;
}

.vector_client_2 {
  position: absolute;
  top: -130px;
  left: 0;
}

.vector_client_3 {
  position: absolute;
  bottom: -80px;
  right: 0;
  width: 120px;
}

.vector_client_4 {
  position: absolute;
  top: -90px;
  left: -130px;
}

.vector_client_5 {
  position: absolute;
  right: 0;
  bottom: -70px;
  width: 160px;
}

.vector_client_6 {
  position: absolute;
  bottom: 40px;
  right: -30px;
}

.solution_works .border_box {
  min-height: 490px;
}

.vector_client_7 {
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 110px;
}

.vector_client_8 {
  position: absolute;
  top: -40px;
  left: -60px;
  width: 110px;
}

.dpdp_banner.about_us.career::before {
  display: none;
}

.dpdp_banner.about_us.career::after {
  top: 70px;
  background-image: url(../img2/about_lines_left.png);
  height: 548px;
  width: 130px;
}

.border_box.core_box {
  border-color: #071D47;
  margin-bottom: 30px;
}

.border_box.core_box img {
  width: 150px;
}

.solution_works .border_box.core_box {
  min-height: 380px;
}

.border_box.core_box h3 {
  color: #4F4F4F;
  text-align: center;
  font-size: 20px;
}

.border_box.core_box p {
  color: #4F4F4F;
  text-align: center;
}

.border_box.core_box:hover h3 {
  color: #fff;
}

.border_box.core_box:hover p {
  color: #fff;
}

.job_listing .sub_title {
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.job_listing .similar_content {
  margin-bottom: 60px;
}

.job_listing .similar_content p {
  font-size: 18px;
  font-weight: 400;
}

.opening_positions .item {
  border: 4px solid #64CADF;
  padding: 24px 40px;
  border-radius: 16px;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}

.top_title {
  margin-bottom: 40px;
}

.top_title h3 {
  font-size: 32px;
  font-weight: 600;
  color: #64CADF;
}

.top_title span {
  font-size: 20px;
  font-weight: 600;
  color: #64CADF;
}

.opening_positions .position {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.team_community .similar_content {
  margin-bottom: 80px;
}

.team-vector {
  position: absolute;
  left: -30px;
  top: 30px;
  width: 130px;
}

.blog_listing .item {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 30px;
}

.blog_listing .item img {
  width: 460px;
  border-radius: 16px;
  margin-right: 24px;
}

.blog_listing .item .title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #071D47;
}

.blog_listing .item .sub_title {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog_listing .item .posted_date {
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 500;
}

.btn_sm {
  background-color: #0755FC;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 22px 8px 22px;
}

.blog_details .item {
  margin-bottom: 60px;
}

.blog_details .item .title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #071D47;
}

.blog_details .item .sub_title {
  font-weight: 500;
}

.blog_details .item img {
  border-radius: 10px;
}

.blog_details .item ul li {
  margin-bottom: 20px;
}

.blog_details .posted_date {
  font-weight: 500;
}

.blog_listing.case_studies .item img {
  width: 100%;
  border-radius: 16px;
  margin-right: 0;
  margin-bottom: 20px;
}

.news_info span {
  color: #213f71;
  font-size: 12px;
  font-weight: 600;
  background: #efeff4;
  border-radius: 40px;
  padding: 10px 20px;
}

.modal .modal-content {
  padding: 30px 20px;
  background: #1a7997;
}

.modal .modal-body {
  text-align: center;
}

.modal .modal-body img {
  width: 160px;
  margin-bottom: 30px;
}

.modal .modal-body p.title {
  font-size: 22px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal .modal-body p.sub_heading {
  font-size: 16px;
  margin-bottom: 0;
  color: #fff;
}

.modal .modal-footer {
  border-top: 0;
  justify-content: center;
  padding: 0;
}

.modal .modal-footer button {
  background: #0c0926;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 30px;
}

.offcanvas {
  z-index: 9999;
  min-height: 100vh;
}