<section class="services_banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 position-relative">
        <img class="readiness_3 img_anmate" src="assets/img/readiness-review-3.png" alt="" />
        <div class="servicesbanner_content">
          <h1 translate>Build your organization's compliance posture</h1>
          <p translate>
            Even before embarking on the journey to build compliance, an
            organisation needs a clear understanding of its current state. Our
            approach begins with a comprehensive assessment of your readiness
            for PDPL compliance. This foundational step allows us to identify
            gaps, assess risks, and tailor strategies that align with the
            specific needs of your organization. By gaining this clarity
            upfront, we ensure a structured and effective process to help your
            business get PDPL compliant
          </p>
          <a translate class="comman_btn" routerLink="/consent-management-tool">Learn More</a>
        </div>
      </div>
      <div class="col-xl-6 position-relative service_order">
        <img class="readiness_1 img_anmate" src="assets/img/readiness-review-1.png" alt="" />
        <div class="servicesbanner_img">
          <img class="services_img" src="assets/img/service_banner1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services_similar_main comman_space overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="comman_heading text-center">
          <h2 translate>How do we help businesses?</h2>
        </div>
      </div>
    </div>
    <div class="row services_similar similar_even">
      <div class="col-md-6">
        <div class="servicessimilar_img">
          <img src="assets/img/Data-Inventory.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="servicessimilar_content">
          <h3 translate>Data Inventory</h3>
          <p translate>
            Identify and catalog all personal data that your organisation has
            collected, processed, and stored. This includes documenting where
            each type of personal data is stored in your systems.
          </p>
        </div>
      </div>
    </div>
    <div class="row services_similar similar_odd">
      <div class="col-md-6">
        <div class="servicessimilar_content">
          <h3 translate>Data Mapping</h3>
          <p translate>
            Map the flow of personal data within your operations and to
            third-party entities. This helps in understanding how data moves
            through different departments and external partners.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="servicessimilar_img">
          <img src="assets/img/data-maping.png" alt="" />
        </div>
      </div>
    </div>

    <div class="row services_similar similar_even">
      <div class="col-md-6">
        <div class="servicessimilar_img">
          <img src="assets/img/legal-basis.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="servicessimilar_content">
          <h3 translate>Legal Basis</h3>
          <p translate>
            Review the legal grounds on which you’ve processed personal data to
            ensure alignment with PDPL framework. This involves verifying that
            data processing activities are conducted lawfully.
          </p>
        </div>
      </div>
    </div>
    <div class="row services_similar similar_odd">
      <div class="col-md-6">
        <div class="servicessimilar_content">
          <h3 translate>Privacy Policies</h3>
          <p translate>
            Evaluate existing privacy policies and notices to ensure they meet
            PDPL disclosure requirements. This includes transparency about data
            processing purposes and rights of individuals.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="servicessimilar_img">
          <img src="assets/img/privacy-policy.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row services_similar similar_even">
      <div class="col-md-6">
        <div class="servicessimilar_img">
          <img src="assets/img/content-management.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="servicessimilar_content">
          <h3 translate>Consent Management</h3>
          <p translate>
            Assess how you’ve obtained, recorded, and managed consent for data
            processing activities. This includes ensuring mechanisms for
            obtaining explicit consent for sensitive data and enabling easy
            withdrawal of consent.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ctasections comman_space pt-0">
  <div class="container">
    <div class="row justify-content-center position-relative">
      <img class="ctaclient_1 img_anmate" src="assets/img/ctaclient_1.png" alt="" />
      <img class="ctaclient_2 img_anmate" src="assets/img/client_pic3.png" alt="" />
      <div class="col-xl-10">
        <div class="ctamain" style="background-image: url('assets/img/cta.png')">
          <div>
            <h2 translate>Speak To Our Privacy Experts</h2>
            <p translate>
              Empower your organisation to build PDPL compliance, mitigate
              risks, and foster customer trust
            </p>
            <a
              translate
              class="comman_btn"
              routerLink="/contact"
              fragment="form"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>