<section class="dpdp_banner about_us">
  <div class="dpdp_first similar_section section_text_white rounded_section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_content">
              <h2 translate>Build trust & empower your customers</h2>
              <p translate>
                Empower your customers to easily exercise their rights to
                inquire, correct, complete, update, or request the removal of
                their personal data from your company records. These requests
                must be addressed within a reasonable time, and our platform
                ensures they are handled promptly and effectively.
              </p>
              <div class="text-center text-lg-start">
                <a translate class="comman_btn mt-4" routerLink="/consent-management-tool">Learn More</a>
              </div>
              <img src="assets/img2/vector_client_4.png" alt="" class="vector_client_5" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_img">
              <img src="assets/img2/grievance_redressal.png" alt="" />
            </div>
            <img src="assets/img2/vector_client_6.png" alt="" class="vector_client_6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="how_it_works solution_works">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-md-12 text-center">
        <div class="comman_heading">
          <h2 translate>How Our Solution Works</h2>
        </div>
      </div>
      <div class="col-xl-11">
        <div class="row steps">
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/grievance_solution_1.png" alt="" class="img-fluid" />
              <h3 translate>Submit Requests Easily</h3>
              <p translate>
                Data subjects can raise their rights through a user-friendly
                platform, making it simple to submit inquiries, corrections,
                updates, or deletion requests
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/grievance_solution_2.png" alt="" class="img-fluid" />
              <h3 translate>Access and Manage Requests</h3>
              <p translate>
                Data Protection Officers (DPOs) and other concerned persons can
                access and manage these requests manually or in an automated
                way, ensuring all requests are tracked and addressed.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/grievance_solution_3.png" alt="" class="img-fluid" />
              <h3 translate>Reduce Response Times</h3>
              <p translate>
                Our tool significantly reduces the time it takes to respond to
                data subject requests, enhancing efficiency and compliance with
                government laws.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/grievance_solution_4.png" alt="" class="img-fluid" />
              <h3 translate>Ensure Legal Compliance</h3>
              <p translate>
                The DSGR tool helps your organisation stay compliant with data
                protection regulations by ensuring all requests are handled in
                accordance with legal requirements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section section_text_white bg_primary full_rounded">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/grievance_redressal_1.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Empower Your Customers to Exercise Their Rights</h2>
          <p translate>
            Our tool makes it easy for them to exercise their rights under PDPL,
            from data access to erasure, ensuring they feel confident and in
            control of their personal information.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Resolve Requests Easily and Quickly</h2>
          <p translate>
            Say goodbye to delays and complications. Our tool streamlines the
            entire process of resolving all customer grievances, enabling you to
            handle them efficiently and within the required timeframe
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/grievance_redressal_2.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/grievance_redressal_3.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Track and Monitor Compliance Effortlessly</h2>
          <p translate>
            Stay ahead with real-time tracking and monitoring. Our tool provides
            comprehensive logs and reports of all customer requests and their
            resolutions, ensuring you maintain compliance effortlessly and are
            always audit-ready
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section section_text_white bg_primary full_rounded">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Download Reports with Ease</h2>
          <p translate>
            Simplify your reporting with our easy download feature. Quickly
            generate and download detailed reports of all GDPR activities,
            ensuring you have the documentation you need for compliance reviews
            and audits at your fingertips
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/grievance_redressal_4.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section key_features">
  <div class="container">
    <div class="comman_heading text-center">
      <h2 translate>Key Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_1.png" alt="" class="img-fluid" />
          <h3 translate>Scalable Solution</h3>
          <p translate>
            Whether you're a small startup or a large enterprise, our solution
            adapts to your needs, ensuring seamless PDPL compliance as your
            business grows.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_2.png" alt="" class="img-fluid" />
          <h3 translate>Easy To Use Interface</h3>
          <p translate>
            Designed with user-friendly features and a simple interface, so you
            can manage requests and maintain compliance with ease, without the
            need for extensive training.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_3.png" alt="" class="img-fluid" />
          <h3 translate>Customisable Workflow</h3>
          <p translate>
            Tailored PDPL compliance solution to fit your organisation's unique
            requirements. Our tool offers customisable workflows, allowing you
            to align processes with your internal policies and procedures.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>