<section class="dpdp_banner about_us">
  <div class="dpdp_first similar_section section_text_white rounded_section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_content">
              <h2 translate>
                Achieve Full Transparency on Your Risk Posture
              </h2>
              <p translate>
                Enhance your ability to safeguard your business against data protection threats and effectively
                communicate the impact of risks on critical operations. Our DPIA tool empowers department managers and
                Data Protection Officers (DPOs) by identifying and mitigating risks and ensuring compliance with
                stringent PDPL regulations.
              </p>
              <div class="text-center text-lg-start">
                <a class="comman_btn mt-4" routerLink="/consent-management-tool" translate>Learn More</a>
              </div>
            </div>
            <img src="assets/img2/vector_client_2.png" alt="" class="vector_client_3" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="similar_img">
            <img src="assets/img2/data_protection.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="how_it_works">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-md-12 text-center">
        <div class="comman_heading">
          <h2 translate>How Our Solution Works</h2>
        </div>
      </div>
      <div class="col-xl-11">
        <div class="row steps">
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/solution_1.png" alt="" class="img-fluid" />
              <h3 translate>Establish Your Risk Register</h3>
              <p translate>
                Utilise our predefined risk templates or create custom risks,
                assigning owners as necessary
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/solution_2.png" alt="" class="img-fluid" />
              <h3 translate>Identify and Score Risks</h3>
              <p translate>
                Evaluate your risk profile with automated risk scoring
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/solution_3.png" alt="" class="img-fluid" />
              <h3 translate>Create Your Risk Treatment Plan</h3>
              <p translate>
                Decide whether to accept, mitigate, transfer, or avoid each
                identified risk.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="border_box">
              <img src="assets/img2/solution_4.png" alt="" class="img-fluid" />
              <h3 translate>Automate Your Risk Assessment</h3>
              <p translate>
                Continuously monitor your risk posture to stay ahead of
                potential threats.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section section_text_white bg_primary full_rounded">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/data_protection_1.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Identify & Flag Risks Across Departments</h2>
          <p translate>
            Detect risks with our tool, for each department across IT, HR,
            vendors, admin and data access points. Additionally, leverage our
            tool to monitor the progress of impact assessment cycles within each
            department, ensuring comprehensive risk management and enhanced data
            protection
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Evaluate Risk with Precision</h2>
          <p translate>
            Accurately quantify your risk profile using our built-in risk
            heatmap. Assess the effectiveness of your mitigation strategies with
            both inherent and residual risk scores. Our platform simplifies the
            process of understanding your risk exposure, pinpointing critical
            risk areas, and implementing effective mitigation measures
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/data_protection_2.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section section_text_white bg_primary full_rounded">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/data_protection_3.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Collaborate Easily</h2>
          <p translate>
            Empower department managers and Data Protection Officers (DPOs) to
            coordinate efforts and collaborate efficiently on Data Protection
            Impact Assessments (DPIAs). Offering real-time updates, centralised
            documentation, and automated risk identification, our platform
            ensures a cohesive approach to evaluating and mitigating risks
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section key_features">
  <div class="container">
    <div class="comman_heading text-center">
      <h2 translate>Key Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_1.png" alt="" class="img-fluid" />
          <h3 translate>Scalable Solution</h3>
          <p translate>
            Whether you're a small startup or a large enterprise, our solution
            adapts to your needs, ensuring seamless PDPL compliance as your
            business grows.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_2.png" alt="" class="img-fluid" />
          <h3 translate>Easy To Use Interface</h3>
          <p translate>
            Designed with user-friendly features and a simple interface, so you
            can manage requests and maintain compliance with ease, without the
            need for extensive training.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_3.png" alt="" class="img-fluid" />
          <h3 translate>Customisable Workflow</h3>
          <p translate>
            Tailored PDPL compliance solution to fit your organisation's unique
            requirements. Our tool offers customisable workflows, allowing you
            to align processes with your internal policies and procedures.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>