<footer class="footer_main">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 mb-xl-0 mb-lg-5 mb-md-4 mb-4">
        <div class="about_footer">
          <a class="footer_logo" href="index.html">
            <img
              src="assets/img/pdpl_logo_white.png"
              alt=""
              class="img-fluid"
            />
          </a>
          <p translate>
            PDPL Consultants is your trusted partner in ensuring Digital
            Personal Data Protection (PDPL) act 2023 compliance for businesses
            in India.
          </p>
          <div class="social_media">
            <a href="javascript:;">
              <img src="assets/img/facebook.png" alt="" />
            </a>
            <a href="javascript:;">
              <img src="assets/img/twitter.png" alt="" />
            </a>
            <a href="javascript:;">
              <img src="assets/img/instagram.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="row">
          <div class="col-md-3 mt-md-0 mt-4">
            <div class="footer_lins">
              <h2 translate>Product</h2>
              <ul>
                <li>
                  <a routerLink="/consent-management-tool" translate
                    >Consent Management Tool</a
                  >
                </li>
                <li>
                  <a routerLink="/grievance-redressal" translate
                    >Grievance Redressal Tool</a
                  >
                </li>
                <li><a routerLink="/data-protection" translate>DPIAs</a></li>
                <li>
                  <a routerLink="/awareness-program" translate
                    >PDPL Awareness Program</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 mt-md-0 mt-4">
            <div class="footer_lins">
              <h2 translate>Service</h2>
              <ul>
                <li>
                  <a routerLink="/readiness-review" translate
                    >PDPLA Readiness Review</a
                  >
                </li>
                <li>
                  <a routerLink="/contract-review" translate>Contract Review</a>
                </li>
                <li>
                  <a routerLink="/compliance-assistance" translate
                    >PDPL Compliance Assistance</a
                  >
                </li>
                <li>
                  <a routerLink="/gap-analysis" translate
                    >PDPL Gap Assessment</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 mt-md-0 mt-4">
            <div class="footer_lins">
              <h2 translate>Company</h2>
              <ul>
                <li><a routerLink="/about" translate>About Us</a></li>
                <li>
                  <a [routerLink]="['/contact']" fragment="form" translate
                    >Contact Us</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/career']" fragment="form" translate
                    >Careers</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 mt-md-0 mt-4">
            <div class="footer_lins">
              <h2 translate>Resources</h2>
              <ul>
                <li><a routerLink="/blogs" translate>Blogs</a></li>
                <li>
                  <a routerLink="/fines" translate
                    >Fines & Penalties Under PDPL</a
                  >
                </li>
                <li>
                  <a routerLink="/case-studies" translate>Case Studies</a>
                </li>
                <li>
                  <a routerLink="/news" translate>News</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p class="m-0" translate>
        Copyright 2024 © PDPL Consultants, A Privacyium Tech Pvt. Ltd. Company
      </p>
    </div>
  </div>
</footer>
