<section class="dpdp_banner about_us">
  <div class="dpdp_first similar_section section_text_white rounded_section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="similar_content">
            <h2 translate>Strengthen PDPL Compliance Across Your Workforce</h2>
            <p translate>
              Equip your teams with practical PDPL training to ensure they have
              the knowledge and skills to safeguard personal data and mitigate
              risks proactively.
            </p>
            <div class="text-center text-lg-start">
              <a translate class="comman_btn mt-4" routerLink="/consent-management-tool">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="position-relative">
            <div class="similar_img">
              <img src="assets/img2/awareness_program.png" alt="" />
            </div>
            <img src="assets/img2/vector_circle_2.png" alt="" class="vector_client_1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/awareness_1.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Focus on your core tasks while we ensure compliance</h2>
          <p class="line_height_32" translate>
            Automate your employee awareness training with our
            subscription-based programs. Conduct regular and mandatory awareness
            sessions to ensure every employee understands the PDPL and the
            consequences of non-compliance. Our assessments ensure that
            employees take the training seriously, and results are accessible to
            all stakeholders
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content" translate>
          <h2 translate>Cultivate Employee Accountability for Data Security</h2>
          <p class="line_height_32" translate>
            According to a joint study by Stanford and Tessian, employee
            mistakes contribute to 88% of data breach incidents. This awareness
            program ensures that your employees are well-informed about PDPL and
            the consequences of non-compliance. By fostering a culture of
            accountability, we help secure the data that flows through your
            organization. With our comprehensive assessments and online tools,
            management can easily monitor progress and ensure continuous,
            effective implementation of your data privacy program.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/consent_img2.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section section_text_white bg_primary full_rounded">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Enhance Employee Information Security Awareness</h2>
          <p translate class="line_height_32">
            Ensure your organisation’s readiness for PDPL compliance by building
            a culture of responsible personal data processing within all
            departments. Our platform removes the uncertainty from monitoring by
            utilising routine evaluations to gauge your employees' knowledge.
            Through interactive quizzes and tests, we provide quick grading and
            ongoing monitoring of their awareness and learning
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img2/awareness_3.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section key_features">
  <div class="container">
    <div class="comman_heading text-center">
      <h2 translate>Key Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_1.png" alt="" class="img-fluid" />
          <h3 translate>Scalable Solution</h3>
          <p translate>
            Whether you're a small startup or a large enterprise, our solution
            adapts to your needs, ensuring seamless PDPL compliance as your
            business grows.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_2.png" alt="" class="img-fluid" />
          <h3 translate>Easy To Use Interface</h3>
          <p translate>
            Designed with user-friendly features and a simple interface, so you
            can manage requests and maintain compliance with ease, without the
            need for extensive training.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item text-center">
          <img src="assets/img2/key_feature_3.png" alt="" class="img-fluid" />
          <h3 translate>Customisable Workflow</h3>
          <p translate>
            Tailored PDPL compliance solution to fit your organisation's unique
            requirements. Our tool offers customisable workflows, allowing you
            to align processes with your internal policies and procedures.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>