<section class="dpdp_banner">
  <div class="dpdp_first">
    <div class="container">
      <div class="row justify-content-center position-relative">
        <div class="col-md-9">
          <div class="dpdpbanner_content text-center position-relative">
            <h1 translate>
              Comprehensive <span translate>PDPL</span>
              <ng-container translate>Compliance</ng-container>,
              <span translate>Stress-Free</span>
            </h1>
            <p translate>
              Our all-inclusive approach to PDPL compliance ensures your
              business meets regulatory requirements effortlessly. We provide
              tailored solutions that simplify the compliance process, mitigate
              risks, build trust and open new avenues for innovation and growth.
            </p>
            <a
              routerLink="/consent-management-tool"
              class="banner_btn"
              translate
              >Learn More</a
            >
            <img class="banner_img" src="assets/img/banner_img.png" alt="" />
            <img
              class="img_anmate dpdp_img1"
              src="assets/img/client_pic5.png"
              alt=""
            />
            <img
              class="img_anmate dpdp_img2"
              src="assets/img/client_pic2.png"
              alt=""
            />
            <img
              class="img_anmate dpdp_img3"
              src="assets/img/client_pic3.png"
              alt=""
            />
            <img
              class="img_anmate dpdp_img4"
              src="assets/img/gapanlyst_2.png"
              alt=""
            />
            <img
              class="img_anmate dpdp_img5"
              src="assets/img/client_2.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="compliance_project">
    <div class="container-fluid px-0">
      <div class="row align-items-center">
        <div class="col-md-12 mb-lg-4 mb-md-3 mb-3">
          <div class="Compliance_top">
            <h2 translate>Ensuring PDPL Compliance</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div class="Compliance_outter">
            <div class="slider-nav">
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Compliance Status</h3>
                <p class="ellipsis-1" translate>
                  Real-time updates on your compliance status
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Risk Assessments</h3>
                <p class="ellipsis-1" translate>
                  Identify and mitigate data protection risks.
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Consent Management</h3>
                <p class="ellipsis-1" translate>
                  Efficiently handle user consents with intuitive tools
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>
                  Data Protection Impact Assessments (DPIAs)
                </h3>
                <p class="ellipsis-1" translate>
                  Conduct through DPIAs to ensure data protection
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Policy Management</h3>
                <p class="ellipsis-1" translate>
                  Centralize and manage data protection policies
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Incident Response</h3>
                <p class="ellipsis-1" translate>
                  Swiftly manage and respond to data breaches
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Training and Awareness</h3>
                <p class="ellipsis-1" translate>
                  Educate your employees about PDPL compliance
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Audit Logs</h3>
                <p class="ellipsis-1" translate>
                  Maintain detailed logs for audit trails
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>
                  Data Subject Rights Management
                </h3>
                <p class="ellipsis-1" translate>
                  Facilitate the exercise of data subject rights
                </p>
              </div>
              <div class="slider-nav-box">
                <h3 class="ellipsis-1" translate>Automated Reporting</h3>
                <p class="ellipsis-1" translate>
                  Generate compliance reports automatically
                </p>
              </div>
            </div>
            <div class="slider-for">
              <div class="slider-for-box">
                <img src="assets/img/compliance_img.png" alt="" />
              </div>
              <div class="slider-for-box">
                <img src="assets/img/compliance_img.png" alt="" />
              </div>
              <div class="slider-for-box">
                <img src="assets/img/compliance_img.png" alt="" />
              </div>
              <div class="slider-for-box">
                <img src="assets/img/compliance_img.png" alt="" />
              </div>
              <div class="slider-for-box">
                <img src="assets/img/compliance_img.png" alt="" />
              </div>
              <div class="slider-for-box">
                <img src="assets/img/compliance_img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="effortlessly_manage">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mb-lg-0 mb-md-4 mb-0">
          <div class="effortlessly_content">
            <h2 translate>
              Effortlessly Manage Your Data Protection Compliance Needs
            </h2>
            <p translate>
              PDPL Consultants to ensure compliance with the Digital Personal
              Data Protection Act 2023. Seamlessly integrate your compliance
              processes with various systems, including policy management,
              incident response, and automated reporting, to stay ahead in the
              digital landscape
            </p>
            <a
              translate
              class="comman_btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Schedule a Demo</a
            >
          </div>
        </div>
        <div class="col-lg-7 d-lg-block">
          <div class="circle_1 mix mx-auto">
            <div class="circle1_inner design_mix">
              <div class="circle_icon">
                <img src="assets/img/international.png" alt="" />
              </div>
              <h3 translate>International Standards</h3>
            </div>
            <div class="circle_2 mix">
              <div class="circle2_inner design_mix">
                <div class="circle_icon">
                  <img src="assets/img/icon_2.png" alt="" />
                </div>
                <h3 translate>Data Security</h3>
              </div>
              <div class="circle2inner1 design_mix">
                <div class="circle_icon">
                  <img src="assets/img/icon_6.png" alt="" />
                </div>
                <h3 translate>Compliance Management</h3>
              </div>
              <div class="circle_3 mix">
                <div class="circle3_inner design_mix">
                  <div class="circle_icon">
                    <img src="assets/img/icon_5.png" alt="" />
                  </div>
                  <h3 translate>Audit Trails</h3>
                </div>
                <div class="circle3inner1 design_mix">
                  <div class="circle_icon">
                    <img src="assets/img/icon_3.png" alt="" />
                  </div>
                  <h3 translate>Secure Documentation</h3>
                </div>
                <div class="circle3inner2 design_mix">
                  <div class="circle_icon">
                    <img src="assets/img/icon_4.png" alt="" />
                  </div>
                  <h3 translate>IT Systems Integration</h3>
                </div>
                <div class="circle_logo">
                  <img src="assets/img/circle_logo.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img/about_1.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Consent Management Tool</h2>
          <p translate>
            Effortlessly manage user consents and ensure compliance with PDPL
            regulations using our customisable and powerful consent management
            tool. Our solution provides real-time tracking and easy-to-use
            dashboards, allowing you to obtain, record, and manage user consent
            with full transparency.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Grievance Redressal Tool</h2>
          <p translate>
            Empower data subjects to exercise their rights seamlessly through a
            user-friendly dashboard, while providing Data Protection Officers
            (DPOs) easy access to manage and respond to queries swiftly and
            securely.
          </p>
        </div>
      </div>
      <div class="col-lg-6 order_top">
        <div class="similar_img">
          <img src="assets/img/about_2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img/about_3.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Data Protection Impact Assessments (DPIAs)</h2>
          <p translate>
            Our intuitive DPIA tool empowers you to assess, monitor and mitigate
            risks efficiently. Identify potential data protection issues,
            implement necessary safeguards, and ensure compliance with PDPL
            regulations—all in one user-friendly platform.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>PDPL Awareness & Training Program</h2>
          <p translate>
            Our subscription-based awareness programs enable companies to
            conduct regular and mandatory awareness sessions, followed by
            assessments. This is crucial for ensuring that every employee is
            well-informed about the PDPL and the repercussions of
            non-compliance.
          </p>
        </div>
      </div>
      <div class="col-lg-6 order_top">
        <div class="similar_img">
          <img src="assets/img/about_4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="similar_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="similar_img">
          <img src="assets/img/about_5.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="similar_content">
          <h2 translate>Unparalleled Support & Assistance</h2>
          <p translate>
            We're more than just tools. Our privacy experts collaborate closely
            with you to identify gaps and risks, ensuring your business stays
            compliant.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="easy_steps comman_space bg_primary">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-md-12 text-center">
        <div class="comman_heading white_heading mb-4">
          <h2 translate>Build PDPL Compliance In 3 Easy Steps</h2>
        </div>
      </div>
      <div class="col-12">
        <div class="threestep text-center">
          <strong translate>Register</strong> <span></span>
          <strong translate>Upload</strong> <span></span>
          <strong translate>Run</strong>
        </div>
      </div>
      <div class="col-xl-11">
        <div class="row easysteps_main">
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-md-4 mb-4 pe-xl-4">
            <div class="easysteps_count">1</div>
            <div class="easysteps_box">
              <img src="assets/img/easysteps_1.png" alt="" />
              <h3 translate>Unlock Hassle-Free Implementation</h3>
              <p translate>
                Our implementation expert will assist you with easy deployment
                and instant query handling of our tools
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-md-4 mb-4 pe-xl-4 ps-xl-4">
            <div class="easysteps_count">2</div>
            <div class="easysteps_box">
              <img src="assets/img/easysteps_2.png" alt="" />
              <h3 translate>Zero Technical Barrriers</h3>
              <p translate>
                Empower non-tech pros with effortless tool implementation. Our
                user friendly guide and emo ensure smooth adoption and
                utilization. Experience simplicity today
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 ps-xl-4">
            <div class="easysteps_count">3</div>
            <div class="easysteps_box">
              <img src="assets/img/easysteps_3.png" alt="" />
              <h3 translate>Scalable</h3>
              <p translate>
                Empower your business with a scalable SaaS product, driving
                growth and adaptability in the digital landscape
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="focus_matters comman_space">
  <div class="container-fluid px-0">
    <div class="row position-relative justify-content-center">
      <div class="col-lg-8 col-md-11 col-11 text-center">
        <div class="comman_heading">
          <h2 translate>Focus on What Matters Most</h2>
          <p translate>
            Routine and repetitive tasks can distract compliance managers from
            strategic planning and decision-making. PDPL Consultants take care
            of daily compliance management activities such as monitoring
            consent, handling data requests, and managing audit logs, allowing
            you to focus on driving your organization's growth and innovation.
          </p>
        </div>
      </div>
      <div class="focusmatters_imgs">
        <div class="focusmatters_box d-md-block d-none">
          <img src="assets/img/focus_left.png" alt="" />
        </div>
        <div class="focusmatters_box">
          <img src="assets/img/focus_middle.png" alt="" />
        </div>
        <div class="focusmatters_box d-md-block d-none">
          <img src="assets/img/focus_right.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="meeting_local comman_space bg_primary overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 position-relative">
        <div class="meetingocal_slider owl-carousel py-5">
          <div class="row meetingocal_box align-items-center">
            <div class="col-lg-6">
              <div class="meetingocal_content pe-lg-5">
                <h3 translate>
                  Meeting Local Needs with Integrated Compliance
                </h3>
                <p translate>
                  At PDPL, our platform is meticulously crafted to align
                  seamlessly with local regulatory frameworks. Designed to
                  uphold the intricacies of labor laws, our system remains fully
                  compliant with the latest updates from authorities such as the
                  Ministry of Human Resources and the General Organization for
                  Social Insurance. We prioritize adaptability, ensuring our
                  solutions evolve in harmony with the dynamic landscape of
                  employment regulations
                </p>
              </div>
            </div>
            <div class="col-lg-6 order_top">
              <div class="meetingocal_img">
                <img src="assets/img/meeting_local.png" alt="" />
              </div>
            </div>
          </div>
          <div class="row meetingocal_box align-items-center">
            <div class="col-lg-6">
              <div class="meetingocal_content pe-lg-5">
                <h3 translate>
                  Meeting Local Needs with Integrated Compliance
                </h3>
                <p translate>
                  At PDPL, our platform is meticulously crafted to align
                  seamlessly with local regulatory frameworks. Designed to
                  uphold the intricacies of labor laws, our system remains fully
                  compliant with the latest updates from authorities such as the
                  Ministry of Human Resources and the General Organization for
                  Social Insurance. We prioritize adaptability, ensuring our
                  solutions evolve in harmony with the dynamic landscape of
                  employment regulations
                </p>
              </div>
            </div>
            <div class="col-lg-6 order_top">
              <div class="meetingocal_img">
                <img src="assets/img/meeting_local.png" alt="" />
              </div>
            </div>
          </div>
          <div class="row meetingocal_box align-items-center">
            <div class="col-lg-6">
              <div class="meetingocal_content pe-lg-5">
                <h3 translate>
                  Meeting Local Needs with Integrated Compliance
                </h3>
                <p translate>
                  At PDPL, our platform is meticulously crafted to align
                  seamlessly with local regulatory frameworks. Designed to
                  uphold the intricacies of labor laws, our system remains fully
                  compliant with the latest updates from authorities such as the
                  Ministry of Human Resources and the General Organization for
                  Social Insurance. We prioritize adaptability, ensuring our
                  solutions evolve in harmony with the dynamic landscape of
                  employment regulations
                </p>
              </div>
            </div>
            <div class="col-lg-6 order_top">
              <div class="meetingocal_img">
                <img src="assets/img/meeting_local.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why_Us comman_space">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-md-12 text-center">
        <div class="comman_heading">
          <h2 translate>Why Us?</h2>
        </div>
      </div>
      <div class="col-md-11 position-relative">
        <div class="whyus_slider owl-carousel">
          <div class="row whyus_box align-items-center">
            <div class="col-lg-6">
              <div class="whyus_img">
                <img src="assets/img/whyus.png" alt="" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="whyus_content">
                <h3>1. <span translate>Track</span></h3>
                <h4 translate>Attendance and Shift Scheduling</h4>
                <p translate>
                  Efficiently manage attendance and shifts with PDPL. Automate
                  attendance records, clock-in/out, leave approvals, and
                  overtime requests. Our system aligns with labor laws and
                  allows you to customize internal policies, ensuring seamless
                  compliance. Plan, schedule, and approve work shifts
                  effortlessly with our integrated solution
                </p>
              </div>
            </div>
          </div>
          <div class="row whyus_box align-items-center">
            <div class="col-lg-6">
              <div class="whyus_img">
                <img src="assets/img/whyus.png" alt="" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="whyus_content">
                <h3>1. <span translate>Track</span></h3>
                <h4 translate>Attendance and Shift Scheduling</h4>
                <p translate>
                  Efficiently manage attendance and shifts with PDPL. Automate
                  attendance records, clock-in/out, leave approvals, and
                  overtime requests. Our system aligns with labor laws and
                  allows you to customize internal policies, ensuring seamless
                  compliance. Plan, schedule, and approve work shifts
                  effortlessly with our integrated solution
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="clients_testimonial comman_space bg_primary overflow-hidden">
  <div class="container">
    <div class="row position-relative justify-content-center">
      <div class="col-md-12 text-center">
        <div class="comman_heading white_heading">
          <h2 translate>What Our Clients Say</h2>
          <p translate>The most comprehensive Data Protection platform</p>
        </div>
      </div>
      <div
        class="col-xl-8 col-lg-10 col-md-12 position-relative clients_outter"
      >
        <img
          class="clientslide_1 img_anmate"
          src="assets/img/client_pic2.png"
          alt=""
        />
        <!-- <img class="clientslide_2 img_anmate" src="assets/img/client_2.png" alt="" /> -->
        <div class="clientsslider owl-carousel">
          <div class="clientsslider_box mb-5">
            <div class="clientsslider_innner mb-md-5 mb-4">
              <div class="quote">“</div>
              <div class="clientsslider_right">
                <p translate>
                  PDPL has transformed our data protection strategy entirely.
                  The platform’s compliance with local regulations, combined
                  with its robust security features, has given us unparalleled
                  peace of mind. We now feel confident that our sensitive
                  information is well-protected
                </p>
                <div class="clientmain">
                  <div class="clientmain_pic">
                    <img src="assets/img2/team_member_4.png" alt="" />
                  </div>
                  <div class="clientmain_top">
                    <h3 translate>Aisha Bin Abdullah</h3>
                    <span translate
                      >IT Security Manager at Tech Solutions Ltd</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="clientsslider_innner clientsslider_bg mb-5">
              <div class="quote">“</div>
              <div class="clientsslider_right">
                <p translate>
                  Implementing PDPL was a game-changer for us. The automated
                  data privacy management tools have streamlined our processes,
                  ensuring we stay compliant with Saudi data protection laws
                  effortlessly. The ease of use and comprehensive features make
                  it an essential tool for our compliance team
                </p>
                <div class="clientmain">
                  <div class="clientmain_pic">
                    <img src="assets/img/shiekh.png" alt="" />
                  </div>
                  <div class="clientmain_top">
                    <h3 translate>Khalid Al Mansour</h3>
                    <span translate
                      >Compliance Officer at Riyadh Financial Group</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clientsslider_box mb-5">
            <div class="clientsslider_innner mb-md-5 mb-4">
              <div class="quote">“</div>
              <div class="clientsslider_right">
                <p translate>
                  PDPL has transformed our data protection strategy entirely.
                  The platform’s compliance with local regulations, combined
                  with its robust security features, has given us unparalleled
                  peace of mind. We now feel confident that our sensitive
                  information is well-protected
                </p>
                <div class="clientmain">
                  <div class="clientmain_pic">
                    <img src="assets/img2/team_member_4.png" alt="" />
                  </div>
                  <div class="clientmain_top">
                    <h3 translate>Aisha Bin Abdullah</h3>
                    <span translate
                      >IT Security Manager at Tech Solutions Ltd</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="clientsslider_innner clientsslider_bg mb-5">
              <div class="quote">“</div>
              <div class="clientsslider_right">
                <p translate>
                  Implementing PDPL was a game-changer for us. The automated
                  data privacy management tools have streamlined our processes,
                  ensuring we stay compliant with Saudi data protection laws
                  effortlessly. The ease of use and comprehensive features make
                  it an essential tool for our compliance team
                </p>
                <div class="clientmain">
                  <div class="clientmain_pic">
                    <img src="assets/img/shiekh.png" alt="" />
                  </div>
                  <div class="clientmain_top">
                    <h3 translate>Khalid Al Mansour</h3>
                    <span translate
                      >Compliance Officer at Riyadh Financial Group</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clientsslider_box mb-5">
            <div class="clientsslider_innner mb-md-5 mb-4">
              <div class="quote">“</div>
              <div class="clientsslider_right">
                <p translate>
                  PDPL has transformed our data protection strategy entirely.
                  The platform’s compliance with local regulations, combined
                  with its robust security features, has given us unparalleled
                  peace of mind. We now feel confident that our sensitive
                  information is well-protected
                </p>
                <div class="clientmain">
                  <div class="clientmain_pic">
                    <img src="assets/img2/team_member_4.png" alt="" />
                  </div>
                  <div class="clientmain_top">
                    <h3 translate>Aisha Bin Abdullah</h3>
                    <span translate
                      >IT Security Manager at Tech Solutions Ltd</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="clientsslider_innner clientsslider_bg mb-5">
              <div class="quote">“</div>
              <div class="clientsslider_right">
                <p translate>
                  Implementing PDPL was a game-changer for us. The automated
                  data privacy management tools have streamlined our processes,
                  ensuring we stay compliant with Saudi data protection laws
                  effortlessly. The ease of use and comprehensive features make
                  it an essential tool for our compliance team
                </p>
                <div class="clientmain">
                  <div class="clientmain_pic">
                    <img src="assets/img/shiekh.png" alt="" />
                  </div>
                  <div class="clientmain_top">
                    <h3>Khalid Al Mansour</h3>
                    <span>Compliance Officer at Riyadh Financial Group</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="leading_companies comman_space">
  <div class="container-fluid px-0">
    <div
      class="row position-relative justify-content-center align-items-center"
    >
      <div class="col-md-12 text-center">
        <div class="comman_heading">
          <h2 translate>
            Successfully made 100+ companies GDRP compliant in the EU and UK.
          </h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="left_img">
          <img src="assets/img/anmate_img1.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 my-md-0 my-5">
        <div class="row leading_main align-items-center text-center">
          <div class="col-lg-12 px-0">
            <div class="leading_content">
              <h3 translate>Learn how to protect your data with PDPL</h3>
              <p translate>
                Schedule a call with our expert team and discover how PDPL can
                enhance your data security and compliance, ensuring your
                sensitive information is always protected and your business is
                always compliant
              </p>
              <a
                class="comman_btn"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                translate
                >Schedule a Demo</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="right_img">
          <img src="assets/img/anmate_img2.png" alt="" />
        </div>
      </div>
      <!-- <img
        class="leading_client img_anmate"
        src="assets/img/leading_client.png"
        alt=""
      /> -->
    </div>
  </div>
</section>
<section class="getintouch bg_primary comman_space">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="comman_heading white_heading">
          <h2 translate>Get In Touch</h2>
          <p translate>
            Contact us for more information on how our team of privacy experts
            can assist your organisation with PDPL compliance
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row getintouch_main">
          <div class="col-md-6 px-0">
            <div class="getintouch_img">
              <img src="assets/img/getintouch.png" alt="" />
            </div>
          </div>
          <div class="col-md-6 px-0">
            <div class="getintouch_form">
              <app-contact-us-form></app-contact-us-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faq_section comman_space" #faq>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="comman_heading">
          <h2 translate>Frequently Asked Questions</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="faq_main">
          <div class="faq_box" [class.active]="activeFaqTab === 'faq1'">
            <a class="faq_box_head" (click)="activeFaq('faq1')" translate
              >What is the PDPL?</a
            >
            <div class="faq_data" translate>
              <p translate>
                PDPL is a law in Saudi Arabia designed to protect individuals'
                personal data. It defines various terms related to personal
                data, outlines rights of data subjects, and sets regulations for
                the processing, collection, disclosure, and transfer of personal
                data.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq2'">
            <a class="faq_box_head" (click)="activeFaq('faq2')" translate
              >Who does the PDPL apply to?</a
            >
            <div class="faq_data">
              <p translate>
                The PDPL applies to both government and private entities that
                collect, process, store, or share personal data of individuals
                in Saudi Arabia.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq3'">
            <a class="faq_box_head" (click)="activeFaq('faq3')" translate
              >What is considered personal data under the PDPL?</a
            >
            <div class="faq_data">
              <p translate>
                Personal data, according to the PDPL, includes any data that may
                lead to identifying an individual specifically or indirectly.
                This includes names, identification numbers, addresses, contact
                details, financial information, photos, videos, and any other
                data of personal nature.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq4'">
            <a class="faq_box_head" (click)="activeFaq('faq4')" translate
              >What are the rights of individuals under the PDPL?</a
            >
            <div class="faq_data">
              <p translate>
                The PDPL aims to regulate the processing of personal data in a
                manner that respects individuals' privacy rights while allowing
                for legitimate data processing activities. It provides
                individuals with rights regarding their personal data and
                establishes obligations for controllers and processors.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq5'">
            <a class="faq_box_head" (click)="activeFaq('faq5')" translate
              >What are the obligations of organisations under the PDPL?</a
            >
            <div class="faq_data">
              <p translate>
                Organisations subject to the PDPL must comply with several
                obligations, including obtaining consent before collecting
                personal data, implementing appropriate security measures to
                protect data, notifying individuals of data breaches, and
                ensuring that data processing activities are lawful and
                transparent.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq6'">
            <a class="faq_box_head" (click)="activeFaq('faq6')" translate
              >Who does the PDPL apply to?</a
            >
            <div class="faq_data">
              <p translate>
                The PDPL applies to any processing of personal data related to
                individuals that takes place in Saudi Arabia, including data
                related to individuals residing in the country processed by
                entities outside Saudi Arabia.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq7'">
            <a class="faq_box_head" (click)="activeFaq('faq7')" translate
              >What rights do data subjects have under the PDPL?</a
            >
            <div class="faq_data">
              <p translate>
                Data subjects have several rights under the PDPL, including the
                right to be informed about the collection and purpose of their
                personal data, access to their data held by controllers,
                correction of inaccuracies, deletion of unnecessary data, and
                more.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq8'">
            <a class="faq_box_head" (click)="activeFaq('faq8')" translate
              >What are the obligations of controllers and processors under the
              PDPL?</a
            >
            <div class="faq_data">
              <p translate>
                Controllers and processors are required to implement
                organisational, administrative, and technical measures to
                protect personal data. They must also ensure compliance with the
                PDPL's regulations regarding data processing, transfer,
                disclosure, and destruction.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq9'">
            <a class="faq_box_head" (click)="activeFaq('faq9')" translate
              >What happens in case of a breach of personal data?</a
            >
            <div class="faq_data">
              <p translate>
                Controllers are obligated to notify the competent authority of
                any breaches, damages, or illegal access to personal data. They
                must also inform the data subjects if such breaches could harm
                their data or prejudice their rights and interests.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq10'">
            <a class="faq_box_head" (click)="activeFaq('faq10')" translate
              >How is the PDPL enforced?</a
            >
            <div class="faq_data">
              <p translate>
                The PDPL is enforced by the competent authority, which oversees
                its implementation and may impose penalties for violations. It
                may conduct inspections, request documents or information from
                controllers, and issue fines or warnings for non-compliance.
              </p>
            </div>
          </div>
          <div class="faq_box" [class.active]="activeFaqTab === 'faq11'">
            <a class="faq_box_head" (click)="activeFaq('faq11')" translate
              >How does the PDPL impact businesses and organisations?</a
            >
            <div class="faq_data">
              <p translate>
                Businesses and organisations must comply with the PDPL's
                requirements when processing personal data. This includes
                implementing data protection measures, obtaining consent for
                data processing, and ensuring transparency and accountability in
                data handling practices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="thankyouModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="assets/img/check-svg.png" alt="" class="img-fluid" />
        <p class="title">Thankyou for submitting your details.</p>
        <p class="sub_heading">
          Our team of experts will contact you very soon.
        </p>
      </div>
      <div class="modal-footer">
        <button class="comman_btn apply_now" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
